/*
* BASE.css
*/


/* Table of Contents
==================================================
  #Reset & Basics
  #Basic Styles
  #Site Styles
  #Typography
  #Links
  #Lists
  #Images
  #Buttons
  #Tabs
  #Forms
  #Misc */


/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
  }
body {
  line-height: 1; 
  }
ol, ul {
  list-style: none; 
  }

blockquote, q {
  quotes: none; 
  }
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; 
  }
table {
  border-collapse: collapse;
  border-spacing: 0; 
  }


/* #Basic Styles
================================================== */
body{
  background: #faf5f4 url(../images/body.gif) repeat fixed 0 0;
  font: 14px/22px Helvetica, Arial, sans-serif;
  color: rgb(81, 74, 70); 
  color: rgba(81, 74, 70, 1);
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
  }


/* #Typography
================================================== */
h1, h2, h3, h4, h5, h6 {
  color: #514a46;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {font-weight: inherit;}
h1 { font-size: 35px; line-height: 40px; margin-bottom: 3px;}
h2 { font-size: 28px; line-height: 30px; margin-bottom: 13px;}
h3 { font-size: 21px; line-height: 28px; margin-bottom: 8px;}
h4 { font-size: 18px; line-height: 34px; margin-bottom: 4px;}
h5 { font-size: 14px; line-height: 21px; margin-bottom: 4px;}
h6 { font-size: 12px; line-height: 18px; }
.subheader { color: #777; }

p { 
  margin: 0 0 15px 0;
  color: #514A46; 
  }

p img { 
  margin: 0; 
  }
p.lead { 
  font-size: 21px; 
  line-height: 27px; 
  color: #777;
  }
em { 
  font-style: italic; 
  }
strong { 
  font-weight: bold; 
  }
small { 
  font-size: 80%; 
  }

/*  Blockquotes  */
blockquote, blockquote p { 
  font-size: 26px; 
  line-height: 32px; 
  color: #514a46; 
  text-align:center; 
  font-family: 'Dosis', sans-serif; 
  font-weight: 300;
  }
blockquote { 
  margin: 0 0 20px; 
  padding: 0 40px;
  }
blockquote cite {
  display: block; 
  font-size: 12px; 
  color: #555;
  }
blockquote cite:before {
  content: "\2014 \0020"; 
  }
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { 
  color: #555;
  }
hr { 
  border: solid #e25101; 
  border-width: 1px 0 0; 
  clear: both; 
  margin: 0 0 10px; 
  height: 0; 
  }
hr.white {
  border: solid #FFF; 
  border-width: 1px 0 0; 
  clear: both; 
  margin: 10px 0 0 0; 
  height: 0;
  }
tr{ 
  border-bottom: 1px solid #beaea5;
  }
td{ 
  line-height: 18px;
  border-bottom: 1px solid #beaea5;
  padding: 5px; 
  color: #514a46; 
  }

/* Aside  */
aside {
    position:relative;
    border-left: 4px solid #e25101;
    font-style:italic;
    margin: 20px 0 20px 15px;
    padding: 8px 15px;
    color: #514a46;
}
/* #Links
================================================== */
a, a:visited { 
  color: #e25101; 
  text-decoration: none; 
  outline: 0; 
  }
a:hover { 
  color: #e25101;
  text-decoration: underline; 
  }
a:focus { 
  color: #e25101; 
  }
p a, p a:visited { 
  line-height: inherit;
  }

/* #Lists
================================================== */
ul, ol {
  margin-bottom: 20px;
  color: #514a46;
  }
ul { 
  list-style: none outside; 
  }
ol { 
  list-style: decimal; 
  }
ol, ul.square, ul.circle, ul.disc, ul.alpha { 
  margin-left: 30px; 
  }
ul.square {
  list-style: square outside; 
  }
ul.circle {
  list-style: circle outside; 
  }
ul.disc { 
  list-style: disc outside; 
  }
ul.alpha { 
  list-style: lower-alpha outside;
  }
ul ul, ul ol, ol ol, ol ul { 
  margin: 4px 0 5px 30px; font-size: 90%;  
  }
ul ul li, ul ol li, ol ol li, ol ul li { 
  margin-bottom: 6px; 
  }
li { 
  line-height: 24px;
  }
ul.large li {
  line-height: 21px; 
  }
li p { 
  line-height: 21px; 
  }

/* #Images
================================================== */

.scale-with-grid {
  margin: 5px 0; 
  }

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

select, .selectfield, option { color: #514A46; }
.checkbox-option {text-align: left;}

/* #Tabs (activate in tabs.js)
================================================== */
#sidebar ul.tabs {
  display: block;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px #67a4e6;
  border-left: solid 1px #67a4e6;
  }

#sidebar ul.tabs li {
  border: none;
  }

#sidebar ul.tabs li a {
  display: block;
  color: #514a46;
  text-decoration: none;
  width: auto;
  height: 30px;
  padding: 9.5px 19px 9.5px 15px;
  line-height: 30px;
  border: solid 1px #67a4e6;
  border-width: 1px 1px 0 0;
  margin: 0;
  background: #f2eae7;
  font-size: 18px;
  font-family: 'Dosis', Helvetica, Arial, sans-serif;
  font-weight: 500;
  }
ul.tabs li a.active {
  background: #fff;
  height: 31px;
  position: relative;
  border-left-width: 1px;
  margin: 0 0 0 -1px;
  color: #514a46;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px; 
  }
ul.tabs li:last-child a.active {
  margin-left: 0;
  }
ul.tabs li:last-child a {
  border-width: 1px 1px 0 1px;
  -moz-border-radius-topleft: 2px;
  -webkit-border-top-left-radius: 2px;
  border-top-left-radius: 2px;
  }
ul.tabs li:first-child a {
  -moz-border-radius-topright: 2px;
  -webkit-border-top-right-radius: 2px;
  border-top-right-radius: 2px;
  }

ul.tabs-content { 
  margin: 0; 
  display: block;
  background: #FFF; }
ul.tabs-content li { 
  margin-bottom: 20px;
  }

#sidebar ul.tabs-content li div {
  padding: 15px 15px 10px 15px; 
  border-left: solid 1px #67a4e6;
  border-right: solid 1px #67a4e6;
  border-bottom: solid 1px #67a4e6;
  background: #f0f7ff;
  }

#sidebar ul.tabs-content input, .account-login #participantLogin input {
 border: #93bbe6;
  }

/* Tabs Table */
#tabs-table ul.tabs {
   }

/* Clearfixing tabs for beautiful stacking */
ul.tabs:before,
ul.tabs:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; 
  }
ul.tabs:after {
  clear: both; 
  }
ul.tabs {
  zoom: 1; 
  }


/* #Forms
================================================== */

form {
  }
fieldset {
  margin-bottom: 5px; }
input,
textarea,
select {
  border: 2px solid #beaea5;
  padding: 6px 4px;
  outline: none;
  font: 13px Helvetica, Arial, sans-serif;
  color: #514A46;
  margin: 0;
  display: block;
  margin-bottom: 10px;
  background: #fff; 
  }
#ParticipantCV_cv {
  margin: 5px 0 15px 5px;
  }
input[type="password"] {
  color: #514a46;
  }
input[type="submit"] {
  filter:chroma(color=#000000);
  }
select {
  padding: 0; 
  }
textarea {
  height: 60px;
  margin-bottom: 15px;
  }
.textfield {
    width: 400px;
  }
label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px;
  line-height: 14px;
  margin: 10px 0 2px 0;
  }
select {
  margin-bottom: 12px;
  width: 220px; 
  }
input[type="checkbox"] {
  display: inline; 
  }
label span,
legend span {
  font-weight: normal;
  font-size: 13px;
  color: #514a46; 
  display: inline;
  }

/* #Misc
================================================== */
.remove-bottom { 
  margin-bottom: 0 !important; 
  }
.half-bottom { 
  margin-bottom: 10px !important; 
  }
.add-bottom { 
  margin-bottom: 20px !important; 
  }

#toTop {
  display:none;
}

  
/* Table of Contents
==================================================
  #Base 960 Grid
  #Clearing */

  
  
  
  
/* #Base 960 Grid
================================================== */

.container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
.container .column,
.container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                        { }

/* Nested Column Classes */
.column.alpha, .columns.alpha               { margin-left: 0; }
.column.omega, .columns.omega               { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns                     { width: 40px;  }
.container .two.columns                     { width: 100px; }
.container .three.columns                   { width: 160px; }
.container .four.columns                    { width: 220px; }
.container .five.columns                    { width: 280px; margin-bottom: 10px;}
.container .six.columns                     { width: 340px; }
.container .seven.columns                   { width: 400px; }
.container .eight.columns                   { width: 460px; }
.container .nine.columns                    { width: 520px; }
.container .ten.columns                     { width: 580px; }
.container .eleven.columns                  { width: 640px; }
.container .twelve.columns                  { width: 700px; }
.container .thirteen.columns                { width: 760px; }
.container .fourteen.columns                { width: 820px; }
.container .fifteen.columns                 { width: 880px; }
.container .sixteen.columns                 { width: 940px; }

.container .two-thirds.column,               
.container .content-main           {width: 620px; z-index: 1; position: relative;}

.container .one-third               { width: 300px; }

.sidekick img, .content-main img { margin: 0px !important;}

.container .one-sixth              { width: 140px; margin: 0px; }


/* #Clearing
================================================== */

/* Self Clearing Goodness */
.container:after { 
  content: "\0020"; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
  }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; 
  }
.row:after,
.clearfix:after {
  clear: both; 
  }
.row,
.clearfix {
  zoom: 1; 
  }

.clearfix{
 zoom: 1;
  }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  zoom: 1;
  }

/*
* LAYOUT.css
*/

/* Table of Content
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */

/* #Site Styles
================================================== */

/* HEADER */

.top {
  background: #f16d1c;
  height: 10px;
  }
.quicklinks {
  text-align: right;
  padding: 0px;
  font-size: 12px;
  margin: 0px;
  }

/* NAVIGATION */

header.container{z-index: 2;}

div.container{z-index: 1;}

nav {
  padding: 0;
  }
nav #horizontal {
  background: #5f5753;
  -khtml-border-radius:4px;
  float: left;
  margin: 0;
  z-index: 999;
  }
nav #horizontal ul {
  float: left;
  margin: 0 0 0 15px;
  position: relative;
  }
nav #horizontal ul li {
  float: left;
  position: relative;
  text-transform: uppercase;
  padding: 0;
  }
nav #horizontal ul li span {
  display: none;
  }
nav #horizontal ul li a, nav #horizontal ul li a:visited {
  color: #FFFFFF;
  font: 19px/22px 'Dosis', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  display: block;
  float: left;
  font-weight: 500;
  padding: 13px 18px 15px 0;
  }
nav #horizontal ul li a:hover, nav #horizontal ul li a:visited:hover {
  color: #beaea5;
  text-decoration: none;
  }
nav #horizontal ul li ul {
  margin: 0;
  padding: 0;
  z-index: 500;
  }
nav #horizontal ul li ul li {
  padding: 0;
  }
nav #horizontal ul li ul li a {
  font-size: 16px;
  color: #514a46;
  background: none repeat scroll 0 0 #f2eae7;
  display: block;
  padding: 10px 7px 10px 10px !important;
  text-transform: none;
  width: 157px;
  }
nav #horizontal ul li ul.short li a {
  width: 157px;
  }
nav #horizontal ul li ul li a:hover {
  background: none repeat scroll 0 0 #f2eae7;
  color: #e25101;
  }
nav #horizontal ul li ul.children li {
  margin: 0 !important;
  }
nav #horizontal ul li ul.children li a {
  text-transform: none !important;
  font-size: 16px !important;;
  }
nav #horizontal .current_page_item a, nav #horizontal .current_page_item a:visited {
  color: #EC008C;
  }
nav #horizontal .current_page_item ul li a, nav #horizontal .current_page_item ul li a:visited {
  color: #333333;
  }
nav #horizontal #dropmenu li {
  float: left;
  margin-left: 1px;
  position: relative;
  }
nav #horizontal #dropmenu ul {
  display: none;
  left: -1px;
  position: absolute;
  top: 40px;
  border-top: 1px solid #beaea5;
  }
nav #horizontal #dropmenu li ul a {
  border-bottom: 1px solid #beaea5;
  border-right: 1px solid #beaea5;
  border-left: 1px solid #beaea5;
  color: #514a46;
  float: left;
  height: auto;
  margin: 0;
  padding: 0;
  }
nav #horizontal #dropmenu li ul a:hover {
  color: #e25101;
  }

/* SIDEBAR & LOGIN */

#sidebar {
  margin-top: 20px;
  }
#sidebar p{
  margin-bottom: 0px;
  font-size: 12px;
  }
#sidebar .links{
  margin: 20px 0 0 0 !important
  }
#sidebar .links a{
  line-height: 24px;
  width: 97%;
  border: medium none;
  display: block;
  letter-spacing: 0;
  margin: 0;
  padding-left: 3%;
  padding-top: 1%;
  text-transform: none;
  }
#sidebar .links a:hover{
  background-color: #F2EAE7;
  text-decoration: none;
  }
#sidebar h6{
  text-transform: none;
  }
.login-title {
  /*width: 60px;
  position: absolute;
  padding: 8px 0 0 0;*/
  }

#sidebar #participantLogin input.loginfield{
  width: 256px;
  }

.account-login #participantLogin input.loginfield, form #password input{
  width: 98%;
  }

#sidebar .vision p{
  font-size: 14px; 
  line-height: 22px; 
  color: #514a46; 
  letter-spacing: 0em !important;
  text-align:center;
  font-weight: normal;
}
/* GENERIC CLASSES */

.fullwidth {
  width: 100%;
  margin: 0;
  margin-top: -7px;
  }

.fullwidth-btn {
  width: auto;
  color: #FFF;
  }

.fullwidth-btn p {
  color: #FFF;
  }

.hr-top {
  border: 0; 
  border-top: 1px dotted #BEAEA5;
  padding-top: 10px;
  }

.notice-current, .notice-completed, .notice-unsuccessful {

  }   


/* Buttons
==================================================
# Orange
# Small Orange
# My Account buttons
# Brown
# Login Brown
# Small Brown
# Green
# Tiny Blue
================================================== */

/* Orange button */
a.orange-btn {
  border: #e65a0b 1px solid !important;
  color :#FFFFFF; 
  display: block; 
  float:left; 
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #f47622; 
  text-decoration: none; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif;
  }

input.orange-btn {
  color :#FFFFFF; 
  display: block; 
  float:left; 
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #f47622; 
  text-decoration: none; 
  font-size: 15px;  
  font-family: Arial, Helvetica, sans-serif;
  filter:chroma(color=#000000);
  border:none;
  }

a.orange-btn:visited, input.orange-btn:visited { 
  color :#FFFFFF;
  border: #e65a0b 1px solid;
  }
a.orange-btn:hover, input.orange-btn:hover {
  color :#FFFFFF;
  text-decoration:none; 
  border:#c14c09 1px solid;
  background: #e65a0b;
  }

/* Small Orange button */
.container .content-main .cal-btns .orange-btn, .cal-btns a.orange-btn, .title-half-right a.orange-btn {
  padding: 4px 10px 5px 10px; 
  font-size: 11px;
  float: right !important;
  margin-bottom: 0px !important;
  color: #fff !important;
  }

/* My Account buttons */
.account-course-detail a.orange-btn, .account-course-detail a.green-btn, .account-course-detail a.blue-btn, .account-course-detail a.red-btn {
  padding: 0px 5px 1px 5px;
  float: right !important;
  font-size: 11px;
  color: #FFF !important;
  margin-bottom: 0px;
  }

.account-course-detail span.notice-red, .account-course-detail span.notice-green, .account-course-detail span.notice-yellow, .account-course-detail span.notice-grey, , .account-course-detail span.notice-brown {
  float: right;
  }


.inline-btns a.green-btn.tiny, .inline-btns a.orange-btn.tiny, .inline-btns a.purple-btn.tiny {
  clear: both;
  }
  
/* Brown button */
a.brown-btn {
  border: #514a46 1px solid !important; 
  color: #FFFFFF;
  display: block;
  float: left;
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #867b74;
  text-decoration: none;
  font-size: 15px;
  line-height: inherit;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  }

input.brown-btn {
  color: #FFFFFF;
  display: block;
  float: left;
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #867b74;
  text-decoration: none;
  font-size: 15px;
  line-height: inherit;
  font-family: Arial, Helvetica, sans-serif;
  filter:chroma(color=#000000);
  border:none;
  letter-spacing: normal;
  }

a.brown-btn:visited, input.brown-btn:visited { 
  color :#FFFFFF;
  border: #867b74 1px solid;
  background: #867b74;
  }
a.brown-btn:hover, input.brown-btn:hover {
  color :#FFFFFF;
  text-decoration: none; 
  border: #514a46 1px solid;
  background: #514a46;
  }

*+html a.brown-btn, *+html input.brown-btn { 
  letter-spacing: normal;
  }

/* Login Blue button */
#participantLogin input.blue-btn {
  width: 100%;
  margin: 10px 0 5px 0;
  padding: 5px 15px 7px 15px;
  font-size: 14px;
  }

#participantLogin input.brown-btn:hover {
  background: #514a46 !important;
  }

i {
  padding-right: 4px;
  }

.brown-btn i, .orange-btn i, .red-btn i, .green-btn i {
  padding-right: 4px;
  }

.icon-btn i {
  padding-right: 0px;
  }

/* Small Brown button */
.cal-btns a.brown-btn, .title-half-right a.brown-btn {
  padding: 4px 10px 5px 10px; 
  font-size: 11px;
  float: left;
  margin-bottom: 0px !important;
  color: #fff !important;
  }

/* Small Brown button */
.title-half-right a.orange-btn {
  float: right;
  }

/* Green button */
a.green-btn {
  border: #29871a 1px solid !important;
  color: #FFFFFF; 
  display: block; 
  float: left; 
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #31a21f; 
  text-decoration: none; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  }

input.green-btn {
  color :#FFFFFF; 
  display: block; 
  float: left; 
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #31a21f; 
  text-decoration: none; 
  font-size: 15px;  
  font-family: Arial, Helvetica, sans-serif;
  filter:chroma(color=#000000);
  border: none;
  letter-spacing: normal;
  }

a.green-btn:visited, input.green-btn:visited { 
  color: #FFFFFF;
  border: #42b11f 1px solid;
  }
a.green-btn:hover, input.green-btn:hover {
  color: #FFFFFF;
  text-decoration: none; 
  border: #20560f 1px solid;
  background: #29871a;
  }

/* Tiny Blue button */
a.blue-btn, input.blue-btn {
  border: #1274de 1px solid !important;
  color: #FFF !important;
  display: block;
  float: right;
  padding: 0px 5px 1px 5px;
  cursor: pointer;
  background: #1378E6;
  text-decoration: none;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  }
a:hover.blue-btn, input.blue-btn:hover {
  text-decoration: none;
  border: #1274de 1px solid;
  background-color: #0e58a9 !important;
  }
input.blue-btn:focus{
  border: #1274de 1px solid !important;
  }

/* Purple button */
a.purple-btn, input.purple-btn {
  border: #802dc1 1px solid !important;
  color: #FFF !important;
  display: block;
  float: right;
  padding: 0px 5px 1px 5px;
  cursor: pointer;
  background: #913DD3;
  text-decoration: none;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  }
a:hover.purple-btn, input.purple-btn:hover {
  text-decoration: none;
  border: #802dc1 1px solid;
  background: #7818c3;
  }
input.purple-btn:focus{
  border: #802dc1 1px solid !important;
  }

/* Red button */
a.red-btn {
  border:  #c12020 1px solid !important;
  color :#FFFFFF; 
  display: block; 
  float:left; 
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #d33d3d; 
  text-decoration: none; 
  font-size: 15px; 
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: normal;
  }

input.red-btn {
  color :#FFFFFF; 
  display: block; 
  float:left; 
  padding: 6px 15px 8px 15px;
  cursor: pointer; 
  background: #d33d3d; 
  text-decoration: none; 
  font-size: 15px;  
  font-family: Arial, Helvetica, sans-serif;
  filter:chroma(color=#000000);
  border:none;
  }

a.red-btn:visited, input.red-btn:visited { 
  color :#FFFFFF;
  border: #c12020 1px solid;
  }
a.red-btn:hover, input.red-btn:hover {
  color :#FFFFFF;
  text-decoration:none; 
  border:#c12020 1px solid;
  background: #c31818;
  }

.list-item-purple .green-btn, .list-item-blue .green-btn, .list-item-brown .green-btn {
  padding: 0px 5px 1px 5px;
  float: right !important;
  font-size: 12px;
  color: #FFF !important;
  margin: 0px;
  width: auto;
  }

/* Tiny Button */
a.purple-btn.tiny, input[type="submit"].purple-btn.tiny, input[type="button"].purple-btn.tiny, 
a.blue-btn.tiny, input[type="submit"].blue-btn.tiny, input[type="button"].blue-btn.tiny, 
a.green-btn.tiny, input[type="submit"].green-btn.tiny, input[type="button"].green-btn.tiny, 
a.orange-btn.tiny, input[type="submit"].orange-btn.tiny, input[type="button"].orange-btn.tiny,
a.red-btn.tiny, input[type="submit"].red-btn.tiny, input[type="button"].red-btn.tiny,
a.brown-btn.tiny, input[type="submit"].brown-btn.tiny, input[type="button"].brown-btn.tiny  {
  padding: 0px 5px 1px 5px;
  float: right !important;
  font-size: 11px;
  color: #FFF !important;
  margin: 0px;
  width: auto;
  }

input.green-btn {
  padding: 3px 0 3px 0 !important;}

#participant-tab ul, #participant-tab ul li, p {zoom: 1;}

.right {
  float: right !important;
  }

/* Content */
.container .content-main {
  margin-top: 20px;
  height: 100%;
  overflow: hidden;
  }
.container .content-main h2 {
  font-weight: 600;
  }
.container .content-main h4 {
  margin-bottom: 15px;
  text-transform: none;
  }
.container .content-main .orange-btn {
  float: left;
  margin-bottom: 15px;
  }
.content-bg{
  background: #f2eae7; 
  padding: 20px 20px 10px 20px;
  position: relative; 
  zoom: 1;
  }
.separator{
  color: #999999;
  font-weight: bold;
  margin: 0 1px 0 2px;
  }

/* FOOTER */

footer {
  background: #beaea5 url(../images/footer.gif) repeat fixed 0 0;
  border-top: 1px solid #514a46;
  padding-top: 20px;
  margin-top: 20px;
  } 
footer a, footer a:visited {
  display: block;
  font-size: 12px;
  color: #514a46;
  }
footer a:hover {
  color: #312d2a;
  text-decoration: none;
  }
.logos {
  text-align: right;
  }
.bottom {
  background: #514a46;
  margin: 20px 0 0 0;
  padding: 5px 0;
  text-align: center;
  color: #d6c4ba;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  font-size: 10px;
  }
.bottom a, .bottom a:visited {
  display: inline;
  color: #d6c4ba;
  font-size: 10px;
  }
.bottom a:hover {
  color: #fff;
  }
hr.brown { 
  border: solid #beaea5; 
  border-width: 1px 0 0; 
  clear: both; 
  margin: 0 0 15px 0; 
  height: 0; 
  }
#sidebar hr.brown {
margin: 0 0 15px 0;
}

/* #Page Styles
================================================== */

/* HOME */
.hero_bg {
  background-color: #e14f00;
  background-image: -ms-linear-gradient(top, #e14f00, #f79327); /* IE10 */
  background-image: linear-gradient(to bottom, #e14f00, #f79327);
  margin: 20px 0 0 0;
  }
.flexslider {
  display:none;
  } 
.sidekick {
  margin-bottom: 10px !important;
  position: relative;
  }
.content-main img {
  width: 580px;
  }
.content-main .list-img{
  width: 550px;
 }
.sidekick img {
  width: 280px;
  }
.sidekick-caption {
  background-color: #524a46;
  color: #FFFFFF;
  font: 16px/22px 'Dosis', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  left: 0;
  min-height: 24px;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  bottom: 40px;
  width: 300px;
} 
.teaser {
  border-top: 1px dotted #beaea5;
  border-bottom: 1px dotted #beaea5;
  padding: 20px 0;
  }
.vision {
  text-align:center;
  margin: 20px 0 0 0 !important;
  padding: 20px 0 0 0;
  }

/* Coin Slider jQuery plugin CSS styles */

.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }
.cs-buttons { display: none; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }
.cs-title { margin-left: 600px; top: 0px; width: 280px; padding: 10px; background-color: #FFFFFF; color: #000000; }
.cs-prev, .cs-next { background: url(../images/bg_direction_nav.jpg) #000000 no-repeat; width: 37px; height: 55px; text-indent: -999em; }
.cs-next { background-position: -43px 0; }

.slider-container{ background-color: #FFFFFF; padding: 15px; margin: 15px 0; }

#staffImage{ width: 150px; }

/* ------------------------------------------------------------------------
  Checkboxes & Radio Customisation
------------------------------------------------------------------------- */

label.tick span.holder {
height: 93px; /* Total height of your checkbox image */
background: url(../images/checkbox.gif) 0 -1px no-repeat; /* Path to your checkbox image */
}

/*label.radio span.holder {
height: 61px;  Total height of your radio buttons image 
background: url(../images/checkbox.gif) 0 -1px no-repeat;  Path to your radio button image 
}*/

label.checkbox:hover span.holder,
label.radio:hover span.holder { top: -31px !important; } /* Background position on mouseover */

label.checked span.holder,
label.checked span.holder,
label.checked:hover span.holder,
label.checked:hover span.holder { top: -62px !important; } /* Background position when checked */

label.yesno span.holder {
height: 94px; /* Total height of your checkbox image */
background: url(../images/checkbox2.gif) 0 -1px no-repeat; /* Path to your checkbox image */
}


label.yesno.checked span.holder,
label.yesno.checked span.holder,
label.yesno.checked:hover span.holder,
label.yesno.checked:hover span.holder { top: -62px !important; } /* Background position when checked */

input[disabled='disabled'] {
background: #F2EAE7;
}

/* ------------------------------------------------------------------------
Customize at your own risk
------------------------------------------------------------------------- */

label.list {
  float: left; clear: left;
  margin: 0;
  }
label.inline {
  float: left; margin: 0;
  }
input.hiddenCheckbox {
  position: absolute; left: -10000px; /* Hide the input */
  }
label.prettyCheckbox span.holderWrap {
  display: block; float: left;
  position: relative;
  overflow: hidden;
  width: 31px;
  height: 31px;
  margin: 0px;
  cursor: pointer;
  }
label.tick.prettyCheckbox span.holderWrap {
  margin: -3px 0 0 0px;
  }
label.prettyCheckbox span.checkbox-option {
  line-height: 20px;
  }
label.prettyCheckbox span.holder {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 31px;
  }
label.yesno span.holderWrap {
  display: block; 
  float: left;
  position: relative;
  overflow: hidden;
  width: 94px;
  height: 33px;
  float: right;
  margin: -3px 0 0 10px;
  }
label.yesno.prettyCheckbox span.checkbox-option {
  line-height: 16px;
  width: 94px;
  height: 33px;
  }

label.yesno span.holder {
  display: block;
  position: absolute;
  top: 0; left: 0;
  width: 94px;
  }

/* ROOMS & FACILITIES */
.room {
  margin-bottom: 10px !important;
  position: relative;
  margin-left: 0px !important;
  }
.room img {
  margin: 0px;
  width: 300px;
  height: 219px;
  }
.room-caption {
  background: #524a46 url(../images/plus.gif) no-repeat right;
  color: #FFFFFF;
  font: 16px/22px 'Dosis', Helvetica, Arial, sans-serif;
  font-weight: 500;
  left: 0;
  min-height: 28px;
  padding-top: 5px;
  padding-bottom: 5px;
  opacity: 0.9;
  position: absolute;
  text-align: left;
  vertical-align: middle;
  bottom: 5px;
  width: 100%;
  }
.room p {
  color: #FFFFFF;
  padding: 0 20px 0 10px;
  margin: 0;
  }
.room a:hover {
  opacity: 0.8;
  -webkit-transition:all 0.3s ease-in-out;
  -moz-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  -ms-transition:all 0.3s ease-in-out;        
  transition:all 0.3s ease-in-out;  
  }

  /* EQUIPMENT & LOANS */

.equipment_container{}
.equipment-img {
  clear: both;
  }
.equipment-img img {
  margin: 5px 0;
  width: 253px;
  height: 113px;
  }
.equipment {
  margin-bottom: 10px !important;
  width: 250px;
  padding: 10px;
  }
.row {
  width: 580px;
  }
.container .five{
    margin-bottom: 0px;
    width: 280px;
}
.column.alpha, .columns.alpha {
    margin-left: 0 !important;
}
.column.omega, .columns.omega {
    margin-right: 0 !important;
}
.container .column, .container .columns {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}
.equipment-selected {
    width: 410px;
}
.equipment-qty {
    width: 20px;
}
.equipment-update{
    width: 100px;
}

/* COURSE LIST */
.duration-circle {
  height:30px;
  line-height: 30px;
  }

.info a {
  float: left;
  line-height: 10px;
  padding-top: 6px;
  }

.info {width: 117px;}

.hosted-tag, .grouplist{
  color: #514A46;
  }

/* COURSE CALENDAR */
.price-tag {
  color: #514a46;
  }

/* REGISTRATION */
#new-user{
  display: inline;
  }
#existing-user{
  display: inline;
  }
.course-title {
  width: 62%;
  }
.resetimages{
  width: auto;
  height: auto;
  }

label, legend, .cal-toggle, .course-location, .course-title, .course-date, .course-eoi{
  color: #514a46;
  font-family: Helvetica, Arial, sans-serif;
}

#new-to-csds {
  width: 198px;
  }

#current-csds-user {
  width: 340px !important;
  }

#current-csds-user input {
  width: 326px !important;
  }

#current-csds-user input#login-btn {width: 90px !important; margin-top: 5px;}

#new-to-csds input#new-user {width: 170px !important;}

input#coursePrice {border: none; padding: 0; margin: 0;}

/* FLASH MSGS */

.errorSummary, .errorMessage{
  position: relative;
  zoom: 1;
  }

.errorMessage {height: 0;}

/* MY ACCOUNT  */
.account-course-title, .account-course-detail, .span, .course-list-hosted {
  color: #514A46;
  }

a.span {color:#fff;}

/* Unique to Completed Courses */
.completed-badge {
  float: left;
  margin: 0 10px;
  text-align: right;
  height: 58px;
  width: 49px;
  cursor: pointer;
  background:url(../images/download-certificate.jpg) 0 no-repeat;
  }

/* Payment Page */
.course-payment .course-title{
  width: 39%;
  }
.course-payment .course-location {
  width: 29%;
  }
.course-payment .course-date{
  width: 25%;
  }

/* Groups */
.inlineblock {display: inline; zoom: 1;}

h2.inlineblock {float:left;}

div.inlineblock {margin: 5px 0 0 5px; width: 24px !important;}

.grouplist {zoom:1; clear: both;}

.singlegroup .elearningtype a, .singlegroup .elearningtype p a {
  border-bottom: 1px solid #DFB6FF !important;
  text-decoration: none;
  }

.singlegroup .elearningtype a:hover, .singlegroup .elearningtype p a:hover{
  border-bottom: 1px solid #913DD3 !important;
  text-decoration: none;
  }

.rightfloat {
  float: right !important;
  text-align: right;
  }

.icon-btn {
  margin: 0px !important;
  padding: 5px !important;
  }

.icon-btn i {
  line-height: 9px !important;
  font-size: 11px;
  color: #FFF !important;
  }

.inlineblock .ie-plus-icon {
  margin-bottom: -7px !important;
  margin-top: 5px !important;
  }

.singlegroup .elearningtype a.icon-btn, .singlegroup .elearningtype a.icon-btn:hover { 
  border-bottom: none !important;
  }

.hover-opaque, .hovertext:hover .hover-opaque {
  display: none !important;
  }

#findgroup label .brown-btn {
  margin: 0 5px 5px 5px;
  float: right;
  padding: 2px 5px;
  font-size: 11px;
  letter-spacing: normal;
  }

#findgroup label .orange-btn {
  float: right;
  padding: 2px 5px;
  font-size: 11px;
  letter-spacing: normal;
  }

/* FUN WITH CSDS */
img.five-col-img {
  width: 280px;
  }

/* LOG IN */
.account-login {
  position: relative;
  zoom: 1;
  }

.account-login #participantLogin input.blue-btn{
  width: 250px;
  float: left;
  padding: 8px 15px 10px 15px;
  font-size: 14px;
  }

/* HELP */

.accordion {zoom:1; position: relative;}

.accordion dt a {
  color: #514a46 !important;
  text-decoration: none;
  }

.accordion dd, .accordion dt {
  margin: 0px;
  }

.accordion dd {
  padding: 0px;
  }
