/*
================================================== */
/**
 * This is the main SASS file this file includes all of the other SASS files.
 *
 * NOTE: If you add another SASS file you need to add an @import for that file below
 */
/* Colours */
body {
  color: #4e565c; }

hr {
  margin: 20px 0 20px 0; }

section .mainContent {
  margin-bottom: 20px; }

.listRow {
  margin: 0 0 10px 0; }

.metaNoteSmall {
  font-size: 12px;
  clear: both;
  display: block;
  margin: 10px 0 5px;
  padding: 5px;
  border: 1px dashed #913DD3; }

.clear {
  display: block;
  height: 20px;
  clear: both; }

.metaProdName {
  font-size: 1em;
  line-height: 1.3em;
  font-weight: bold; }

.metaPriceContainer {
  display: block;
  float: left;
  padding: 10px 10px 10px 0;
  margin: 0 1em 0.5em 0;
  border-bottom: 1px dotted #A8A799; }
  .metaPriceContainer .metaPrice {
    font-size: 1.2em;
    font-weight: bold; }

.metaSmallerPrice {
  color: #8b8378; }

.data-block:before, .data-block:after,
.data-block-outline:before, .data-block-outline:after,
.data-single-row:before, .data-single-row:after,
.clearfix:before, .clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.data-block,
.data-block-outline,
.data-block-nobg {
  display: table;
  padding: 10px 10px;
  background: #e7e7e7;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 100%; }
  .data-block .columns,
  .data-block-outline .columns,
  .data-block-nobg .columns {
    padding: 0; }

.data-block-outline {
  background: none;
  border: 1px solid #CCC; }

.data-block-nobg {
  background: none; }

.margin-top {
  margin-top: 5px; }

.data-single-row {
  display: table;
  margin-bottom: 10px; }

table {
  width: 100%;
  margin: 0; }

.left {
  display: inline-block;
  float: left; }

.right {
  display: inline-block;
  float: right; }

/* Buttons
================================================== */
.button, .button-red, .button-green, .button-default,
.button-lightgrey, .button-faux, .button-default-faux,
.button-lightgrey-faux, .button-green-faux, .button-red-faux, .button-text {
  display: inline-block;
  border: 0 !important;
  border-radius: 4px;
  outline: 0;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  /*line-height: 18px;*/
  line-height: 20px;
  /*To match loading gif height*/
  vertical-align: top;
  margin: 0; }

.button-faux, .button-default-faux, .button-lightgrey-faux,
.button-green-faux, .button-red-faux {
  padding: 10px 16px; }

.button-text:hover {
  text-decoration: underline; }

.button i {
  line-height: 18px; }

a.button, a.button-red, a.button-green, a.button-default {
  color: white !important; }

.button:active, .button-red:active, .button-green:active,
.button-default:active, .button-lightgrey:active {
  top: 3px; }

.button-faux, .button-default-faux, .button-lightgrey-faux,
.button-green-faux, .button-red-faux {
  cursor: default; }

/* Red Button */
.button-red, .button-red-faux {
  background: #A72F2F;
  box-shadow: 0px 1px 0px #70171b, 0px 2px 0px #70171b, 0px 3px 0px #70171b, 0px 4px 0px #70171b, 0px 5px 0px #70171b; }

.button-red:hover, .button-red:focus {
  background: #932929; }

.button-red:active {
  box-shadow: 0px 1px 0px #70171b,0px 2px 0px #70171b; }

/* Green Button */
.button-green, .button-green-faux {
  background: #32ab2c;
  box-shadow: 0px 1px 0px #257a1d, 0px 2px 0px #257a1d, 0px 3px 0px #257a1d, 0px 4px 0px #257a1d, 0px 5px 0px #257a1d; }

.button-green:hover, .button-green:focus {
  background: #2b9426; }

.button-green:active {
  box-shadow: 0px 1px 0px #257a1d,0px 2px 0px #257a1d; }

/* Default Button */
.button-default, .button-default-faux {
  background: #565c71;
  box-shadow: 0px 1px 0px #292c36, 0px 2px 0px #292c36, 0px 3px 0px #292c36, 0px 4px 0px #292c36, 0px 5px 0px #292c36;
  margin-bottom: 5px; }

.button-default:hover, .button-default:focus {
  background: #494e60; }

.button-default:active {
  box-shadow: 0px 1px 0px #292c36,0px 2px 0px #292c36; }

/* Light Grey Button */
.button-lightgrey, .button-lightgrey-faux {
  background: #d9d9d9;
  box-shadow: 0px 1px 0px #a1a1a1, 0px 2px 0px #a1a1a1, 0px 3px 0px #a1a1a1, 0px 4px 0px #a1a1a1, 0px 5px 0px #a1a1a1; }

a.button-lightgrey, a.button-lightgrey-faux {
  color: #828282; }

.button-lightgrey:hover, .button-lightgrey:focus, a.button-lightgrey:hover, a.button-lightgrey-faux:hover {
  background: #c2c2c2;
  color: #676767; }

.button-lightgrey:active {
  box-shadow: 0px 1px 0px #a1a1a1,0px 2px 0px #a1a1a1; }

/*.right a {margin: 0 0 5px 10px;}*/
#pagination .right a, #numberOnly .right a {
  margin: 0 20px 0 0; }

#pagination .right {
  text-align: right;
  margin-right: 10px; }

/* Specified width */
.half-width-btn a.button-red, .half-width-btn a.button-red-faux {
  width: 33.4%;
  margin: 0 0 0 10px;
  text-align: center; }

.half-width-btn a.button-green, .half-width-btn a.button-green-faux {
  width: 33.4%;
  text-align: center; }

.half-width-btn a.button-default, .half-width-btn a.button-default-faux {
  width: 33.4%;
  text-align: center; }

.full-width-btn a.button,
.full-width-btn a.button-default,
.full-width-btn a.button-lightgrey,
.full-width-btn a.button-red,
.full-width-btn a.button-green,
.full-width-btn a.button-faux,
.full-width-btn a.button-default-faux,
.full-width-btn a.button-lightgrey-faux,
.full-width-btn a.button-red-faux,
.full-width-btn a.button-green-faux {
  width: 100%;
  text-align: center; }

/* Alt button */
.button-alt, .button-alt-red {
  overflow: auto;
  text-decoration: none;
  padding: 2px 3px;
  margin-top: 5px;
  display: inline-block;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

label {
  font-size: 14px;
  margin-bottom: 5px;
  line-height: 20px;
  width: 90%; }

input[type="text"], input[type="password"],
input[type="date"], input[type="datetime"],
input[type="datetime-local"], input[type="month"],
input[type="week"], input[type="email"],
input[type="number"], input[type="search"],
input[type="tel"], input[type="time"], input[type="url"], textarea {
  border-radius: 4px;
  font-size: 1rem;
  padding: 8px 8px 8px 14px !important;
  height: 46px; }

input[type="checkbox"] + label, input[type="radio"] + label {
  vertical-align: middle; }

.header {
  font-weight: bold;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px; }

td {
  font-size: 16px !important; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.grey-text {
  color: #949494; }

.small-print {
  font-size: 12px; }

.product-page h1 {
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 40px; }
.product-page .section-prices {
  line-height: 18px;
  font-size: 14px; }
  .product-page .section-prices .data-single-row {
    margin-bottom: 5px; }
    .product-page .section-prices .data-single-row span {
      display: table-cell; }
  .product-page .section-prices a, .product-page .section-prices h1 {
    margin: 0; }
  .product-page .section-prices #finalPrice {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.4; }
  .product-page .section-prices .first-col, .product-page .section-prices .second-col, .product-page .section-prices .third-col, .product-page .section-prices .fourth-col {
    display: inline-block;
    vertical-align: middle; }
  .product-page .section-prices .first-col {
    width: 256px; }
  .product-page .section-prices .second-col {
    width: 100px;
    text-align: right; }
  .product-page .section-prices .third-col {
    width: 65px;
    text-align: center; }
  .product-page .section-prices .fourth-col {
    width: 82px;
    text-align: right; }
.product-page .tabs-content {
  margin-bottom: 0; }
.product-page .meta {
  font-size: 14px; }
  .product-page .meta em:before, .product-page .meta em:after {
    display: table;
    line-height: 0;
    content: ""; }
  .product-page .meta .col {
    width: 25%;
    display: table-cell;
    float: left;
    padding: 5px;
    min-height: 40px;
    margin-bottom: 5px;
    border-bottom: 1px dotted #A8A799;
    vertical-align: middle; }
.product-page .prodcode {
  font-size: 14px; }
.product-page input#qty {
  margin: 0; }

.price-line-item {
  width: 515px;
  border-bottom: 1px dotted #CCC;
  padding: 5px 0; }

.checkout-page .cart-items .first-col {
  width: 50%; }
  .checkout-page .cart-items .first-col img {
    margin-right: 10px; }
.checkout-page .cart-items .second-col {
  width: 10%; }
.checkout-page .cart-items .third-col {
  text-align: center;
  width: 10%; }
  .checkout-page .cart-items .third-col input {
    width: 50px;
    margin: 0px auto; }
.checkout-page .cart-items .fourth-col {
  width: 12%;
  text-align: center; }
  .checkout-page .cart-items .fourth-col input {
    margin: 0px auto; }
.checkout-page .cart-items .fifth-col {
  width: 20%;
  text-align: right;
  clear: right; }

.select2-container {
  width: 100%; }
  .select2-container .select2-choice {
    border: 2px solid !important;
    padding: 8px 16px 8px 8px !important;
    height: 50px; }
    .select2-container .select2-choice .select2-arrow b {
      background-position: 0 6px !important; }

.select2-search input {
  margin-top: 5px !important; }

.select2-results .select2-result-label {
  margin-bottom: 10px;
  font-family: Arial, sans-serif; }
  .select2-results .select2-result-label img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
    display: block;
    float: left; }
  .select2-results .select2-result-label span {
    clear: right; }

/*# sourceMappingURL=custom.css.map */
