/* Bookings
================================================== */

/* Overlays */

.section-bookings .overlay-header h2 {color: #453252;}
.section-bookings .overlay-header {background: #946FB0;}
.section-bookings .overlay-header .overlay-close i {color: #3c2d47;}
.section-bookings .overlay .data-solid {background: #E4DBEB; width: auto; margin: 0;}

.section-bookings table.history-table {border: 1px solid #E4DBEB;}
.section-bookings table.history-table th {background: #E4DBEB;}
.section-bookings table.history-table th, .section-bookings table.history-table td {border: 1px solid #E4DBEB;}

/* Page Tabs */

.section-bookings #tab-nav li.tab-one a.current, 
.section-bookings #tab-nav li.tab-two a.current, 
.section-bookings #tab-nav li.tab-three a.current,
.bookings-tile  {
    border-top: 5px solid #946fb0; 
}

/* Text highlight */

.section-bookings ::-moz-selection {
    background: #946FB0;
    color: #FFF;
    text-shadow: none;
}

.section-bookings ::selection {
    background: #946FB0;
    color: #FFF;
    text-shadow: none;
}

/* Buttons */

.section-bookings .button, 
.section-bookings .button-faux,
.bookings-tile .button {background: #946fb0; box-shadow: 0px 1px 0px #564166, 0px 2px 0px #564166, 0px 3px 0px #564166, 0px 4px 0px #564166, 0px 5px 0px #564166; margin-bottom: 5px;}

.section-bookings .button:hover, 
.section-bookings .button:focus,
.bookings-tile .button:hover,
.bookings-tile .button:focus {background: #806098;}

.section-bookings .button:active,
.bookings-tile .button:active {box-shadow: 0px 1px 0px #564166, 0px 2px 0px #564166;}

.section-bookings .button-alt {border: 2px solid #ae8aca; color: #ae8aca !important;}
.section-bookings .button-alt:hover {border: 2px solid #806098; color: #806098 !important;}

/* Search form */

.section-bookings div.search-field {width: 540px; margin-bottom: 15px; float:left;}
.section-bookings div.search-date-field {width: 315px; margin-bottom: 15px; float:right; text-align: right;}

.section-bookings form div.search-field input {width: 512px;}
.section-bookings form .search-filter-right .button {width: 45px; text-align: center;}
.section-bookings form .search-filter-right .button-faux {width: 43px; text-align: center;}

div.search-filter {margin-right:10px;}
div.search-filter-right {float:right; margin-right:0px;z-index:2}
div.search-filter-right ul.filter {background: #ececed;}
div.search-filter-right ul.filter label,.selected-checkbox-wrapper {cursor:pointer;}

.section-bookings .search-date-field p span {display: inline-block;}
.section-bookings .search-date-field p span.inline-text {margin-top: 13px; padding: 0 5px; vertical-align: top;}

.section-bookings form .search-filter-right span.holderWrap {border: none; float: left; padding: 0; background: none;}

.section-bookings form#search .search-date-field p span input, .date-field input {
    background: none;
    border: 2px solid #BDBDC5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 12px;
    outline: none;
    margin: 0;
    width: 90px;
    color: #292C36;
    text-align: center;
    }

/* Input fields */

.section-bookings form input, 
.section-bookings form textarea, 
.section-bookings .ajax-fields input, 
.section-bookings .ajax-fields textarea {
    display: inline-block;
    margin: 0;
}

.section-bookings form input, 
.section-bookings form select, 
.section-bookings form textarea, 
.section-bookings span.holderWrap, 
.section-bookings .ajax-fields input, 
.section-bookings .ajax-fields select, 
.section-bookings .ajax-fields textarea {border: 2px solid #E4DBEB;}

.section-bookings span.holderWrap, 
.section-bookings form span.holderWrap, 
.section-bookings .ajax-fields span.holderWrap,
.section-centres span.holderWrap, 
.section-centres form span.holderWrap, 
.section-centres .ajax-fields span.holderWrap {border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; float: right; padding: 3px;}

.section-bookings span.holder, 
.section-centres span.holder {margin: 3px;}

.section-bookings form span.holderWrap, 
.section-bookings .ajax-fields span.holderWrap {background: none;}

.section-bookings form .search-filter-right span.holderWrap, 
.section-bookings .ajax-fields .search-filter-right span.holderWrap, 
.section-courses form .search-filter-right span.holderWrap, 
.section-courses .ajax-fields .search-filter-right span.holderWrap {
    border: none;
    float: left;
    padding: 0;
    background: none;
}

.section-bookings form .search-filter-right span.holder, 
.section-bookings .ajax-fields .search-filter-right span.holder {margin: -5px 5px 0 -5px;}

.section-bookings form input[type="text"]:focus, 
.section-bookings form textarea:focus, 
.section-bookings .ajax-fields input[type="text"]:focus, 
.section-bookings .ajax-fields textarea:focus {
    border: 2px solid #946fb0;
}

.section-bookings .data-container .data-solid, .section-bookings .data-container .data-solid-alt{
    background: #E4DBEB;
    width: 387px;
    display: inline-block;
}

.section-bookings .one-third-column .data-solid{
    background: #BDBDC5;
    width: 237px;
    display: inline-block;
    margin-bottom: 10px;
}

.section-bookings .data-container .data-solid-alt {
    width: 142px;
    margin-right: 15px !important;
}

/* Links */
.section-bookings a, .bookings-tile li a  {color: #946fb0; text-decoration: none;}

.section-bookings .data-heading-row p a, .section-bookings .data-heading-row-pagination p a, .section-bookings #clearButton a {border-bottom: 1px solid #cbb7da;}
.section-bookings .data-solid .right a, .section-bookings #numberOnly .right a {border-bottom: 1px solid #b694d0;}
.section-bookings .data-heading-row p a:hover, .section-bookings .data-heading-row-pagination p a:hover, .section-bookings .data-solid .right a:hover, .section-bookings #numberOnly .right a:hover,.section-bookings #clearButton a:hover {border-bottom: 1px solid #946fb0;}

#clearButton {margin-left: 10px;}

#search-bookings-tab span.modify a {color: #b197c5;}

#search-bookings-tab span.modify a:hover {color: #946FB0;}

/* Data Rows - Search */

.section-bookings .search-results .data-single-row:hover {
    border-left: 4px solid #946fb0;
    background-color: #ece5f1;
}

.section-bookings .search-results .data-single-row-link:hover {background-color: #ece5f1;}

.section-bookings .data-container {border-top: 5px solid #946fb0;}

.section-bookings .search-results .data-single-row span.first-col   {width: 145px;  padding-left: 10px;}
.section-bookings .search-results .data-single-row span.second-col  {width: 457px;}
.section-bookings .search-results .data-single-row:hover span.second-col a {text-decoration: underline;}
.section-bookings .search-results .data-single-row span.third-col   {width: 124px; text-align: right; padding-right: 10px;}

.section-bookings  .data-single-row-link {width: 25px; padding: 12px 10px; display:table-cell; vertical-align:middle; background-color: white; text-align: center;}
.section-bookings .data-single-row-link span {display:table-cell; vertical-align:middle;}

/* Booking Details */

/*.section-bookings input[type=text] {width: 477px; margin: 0; display: inline-block;}*/
.section-bookings .text-link {text-align: right; margin-left: 124px;}

.section-bookings .add input {margin: 0; background: #FFF; border-color: #C0ACCF; display: inline-block;}
.section-bookings .upload-attachment .add input, .section-centres .upload-attachment .add input {width: 482px; padding: 9px;}

.section-bookings .add select, .faculty-roles select {background: #FFF; border: 2px solid #C0ACCF !important;}
.section-bookings .add, .section-bookings .add-faculty {padding: 15px; background: #e4dbeb; margin: 10px 0 0 0; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;}

.section-bookings .add .data-area, .section-courses .add .data-area {margin-top: 0px;}
.section-bookings .add .data-area p span.full-width input[type=text], .section-courses .add .data-area p span.full-width input[type=text] {width: 351px;}
.section-bookings .add .data-area p span.full-width select,  .section-courses .add .data-area p span.full-width select  {width: 379px;}

.add .qq-uploader input {width: 476px;}

.section-bookings .data-area p.half-col label {width: 155px;}
.section-bookings .data-area p span.inline-text, .section-room-avail span.inline-text {padding: 0 5px;}

.tick-or-add h2 {display:inline-block; margin-top: 10px;}
.tick-or-add a {float:right;}
.tick-or-add div {float:right;}
.tick-or-add .data-solid-highlight {padding: 10px 2px 5px 12px !important;}
/*.hidden-unless-ticked {margin-top: 20px;}*/

.section-bookings form#new-booking .check-to-display .data-solid-highlight {padding: 10px 0 5px 10px; margin: 0px;}

form#repeat-booking input {width: 30px;}

 form#book-room .data-solid {display: inline-block}

/* Rooms */

/*.room-list dl.accordion {margin-bottom: 15px;}*/
.room-list label {margin-top: 10px; display: inline-block;}
.room-list dt {background-color: #E4DBEB; padding: 10px; background: #E4DBEB; display: block; margin-bottom: 1px;}
.room-list dd {background-color: #FFF; margin-left: 20px; border-left: 4px solid #946FB0; border-right: 1px solid #E4DBEB;}

.room-list dt span {vertical-align: middle; display: inline-block; word-wrap: break-word;}

.room-list dt .button-alt {border: 2px solid #ae8aca; color: #ae8aca !important; vertical-align: bottom;}
.room-list dt .button-alt:hover {border: 2px solid #806098; color: #806098 !important;}

.room-list dt .button-alt-red {border: 2px solid #c5858d; color: #c5858d !important; vertical-align: bottom;}
.room-list dt .button-alt-red:hover {border: 2px solid #A72F2F; color: #A72F2F !important;}

.room-list dt .first-col   {width: 210px; padding: 0 5px; vertical-align: middle; display:table-cell; font-weight: bold;}
.room-list dt .second-col   {width: 165px; padding: 0 5px 0 0; vertical-align: middle; display:table-cell;}
.room-list dt .second-col a {margin: 0 0 0 5px;}
.room-list dt .third-col    {width: 100px; padding: 0; vertical-align: middle; text-align: right; display:table-cell;}
 
dd.room-details p {padding: 5px 10px; border-bottom: 1px solid #E4DBEB;}
dd.room-details p label {display: inline-block; width: 85px; font-weight: 600; font-style: italic; margin-top: 0 !important;}

/* Participants */
ul.participant-list, ul.attachment-list, ul.faculty-list, ul.all-comments, ul.tag-list, ul.staff-contact-list, ul.all-contributors {margin: 0; padding: 0; list-style-type: none;}
#attachments ul {margin: 10px 0 0 0; padding: 0; list-style-type: none;}
ul.faculty-list {margin-top: 15px;}
/*ul.all-comments, ul.attachment-list {margin: 15px 0 0 0;}*/
.existingComments ul {margin-top: 15px}
ul.participant-list li, .section-bookings ul.attachment-list li, ul.faculty-list li, .section-bookings ul.all-comments li {padding: 15px; background: #E4DBEB; margin-bottom: 1px;}
ul.participant-list li:hover, .section-bookings ul.attachment-list li:hover, ul.faculty-list li:hover, .section-bookings ul.all-comments li:hover {background: #D5C7E0;}
ul.participant-list li span, ul.attachment-list li span, ul.faculty-list li span, ul.staff-contact-list li span {display:inline-block;}
ul.participant-list li .first-col {width: 290px;}
ul.participant-list li .first-col i {cursor: pointer;}
ul.participant-list li .first-col a, .section-bookings ul.attachment-list li a, ul.faculty-list li a {font-weight: bold; border-bottom: 1px solid #CBB7DA;}
ul.participant-list li .first-col a:hover, .section-bookings ul.attachment-list li a:hover, ul.faculty-list li a:hover {border-bottom: 1px solid #946FB0;}
ul.participant-list li .second-col {text-align: right; float: right;}
ul.participant-list li .delete-col, ul.attachment-list li .delete-col, ul.faculty-list li .delete-col, ul.all-comments li .delete-col, ul.all-contributors li .delete-col {float: right; padding: 0 0 0 15px;}

ul.staff-contact-list li .first-col {width: 270px;}
ul.staff-contact-list li .second-col {text-align: right; float: right; width: 203px;}
ul.staff-contact-list li .last-col {text-align: right; float: right; width: 230px;}
ul.staff-contact-list li .delete-col {float: right; width: 12px; padding: 0 0 0 15px;}

.data-container .tick-or-add .alert-warning {margin: 5px 0 0 0; display: inline-block; float: right; padding: 5px 8px; font-style: italic;}
.data-container .tick-or-add .alert-warning a {float: left;}


/* Faculty */
.faculty-name {margin-bottom: 25px;}
.faculty-name select {width: 504px;}
.upload-attachment p, p.participant-add {margin-bottom: 15px;}
.faculty-roles p {margin-top: 15px;}
.faculty-roles label {width: 172px; display: inline-block; font-weight: normal;}
.faculty-roles select {width: 328px;}

/*.section-bookings .add-faculty .data-solid-highlight {margin-bottom: 15px;}
.section-bookings .add-faculty {}
.section-bookings .add-faculty p span.date {width: 160px;}*/


ul.faculty-list li .first-col {width: 171px; vertical-align: top;}
ul.faculty-list li .second-col {width: 170px; text-align: right}
ul.faculty-list li .third-col {width: 155px; text-align: right; font-weight: bold;}

/* Attachments */

ul.attachment-list li .first-col {width: 160px;}
ul.attachment-list li .second-col {width: 340px; font-style: italic; opacity: 0.55; text-align: right;}

.upload-attachment .add label, p.participant-add label {width: 100px; display: inline-block; font-weight: 600;}
.upload-attachment .add select, p.participant-add select {width: 400px;}

/* Comments */

.section-bookings form .comments textarea, .section-bookings .ajax-fields .comments textarea, .section-centres form .comments textarea {width: 505px; margin: 10px 0 15px 0;}
.character-counter {opacity: 0.55; position: relative; top: 10px;}
.comment-info {opacity: 0.55; font-style: italic;}

/* Course Registrations */

.section-bookings a.sub-tab-left, 
.section-bookings a.sub-tab-right,
.section-bookings a.sub-tab-middle, 
.section-bookings a.sub-tab-left-active, 
.section-bookings a.sub-tab-right-active,
.section-bookings a.sub-tab-middle-active {
    background: #ededee;
    padding: 11px;
    border: none;
    color: #946FB0;
    display: block;
    float: left;
    margin: 0;
    white-space: nowrap;
}

.section-bookings a.sub-tab-left-active, .section-bookings a.sub-tab-middle-active, .section-bookings a.sub-tab-right-active {
    background: #946FB0;
    color: white;
}

.section-bookings a.sub-tab-left:hover, .section-bookings a.sub-tab-right:hover, .section-bookings a.sub-tab-middle:hover {background: #E4DBEB; color: #946FB0 !important;}

.floorplan { margin: 0 0 20px 0;}

/* Sticky Side-nav */

#sticky-nav ul.navnav i {font-size: 1.1rem;}

#sticky-nav ul {padding: 0; margin: 0; list-style-type: none;}
#sticky-nav li {background-color: #FFF; margin-bottom: 1px;}
#sticky-nav li:first-child {-moz-border-radius:4px 4px 0 0; -webkit-border-radius:4px 4px 0 0; border-radius:4px 4px 0 0;}
#sticky-nav li:last-child {-moz-border-radius:0 0 4px 4px; -webkit-border-radius:0 0 4px 4px; border-radius:0 0 4px 4px;}
#sticky-nav li a {padding: 10px 15px; display: block;}

.section-bookings #sticky-nav li.active {background-color: #946FB0;}
.section-bookings #sticky-nav li:hover {background-color: #D7C7E4;}
.section-bookings #sticky-nav li.active:hover {background-color: #946FB0;}

#sticky-nav .half-width-btn a.button-default, 
.half-width-btn a.button-default, 
.half-width-btn a.button-default-faux, 
.half-width-btn a.button-green, 
.half-width-btn a.button-green-faux {margin: 15px 0 5px 0;float:left;display:block}

#sticky-nav .half-width-btn a.button-green, #sticky-nav .half-width-btn a.btn-right {margin:15px 0 5px 0; float: right;}

/* Timeblock Table */

.timeblock {float:left; width: 412px; margin: 0 0 30px 122px; font-size: 12px;}

.timeblock tr {}

.timeblock div { width: 47px; text-align: center; border: 2px solid white; padding: 0; margin: 0; float:left; clear:none; }

.timeblock div.not-booked {background-color: #fff;}
.timeblock div.not-booked:hover {background-color: #e4dbeb;}
.timeblock div.not-booked span{border: 2px solid #e4dbeb; cursor: pointer;}
.timeblock div.not-booked span.selected {border: 2px solid #623c7f; display: block;background-color: #e4dbeb;}
.timeblock div.not-booked span.hourBlock {font-weight: bold; }

.timeblock div.booked {background-color: #FFF;}
.timeblock div.booked:hover {background-color: #E7AEAE;}
.timeblock div.booked span{border: 2px solid #E7AEAE;}
.timeblock div.booked span.selected {border: 2px solid #802c2c; display: block; padding: 3px 0; background-color: #E7AEAE;}
.timeblock div.booked span.hourBlock {font-weight: bold;}

.timeblock div.not-booked span, .timeblock div.booked span {display: block;  padding: 3px 0;}

.timeblock div.highlighted {
    background-color:#999;
}

/* Bookings Overview */

.timeline {border-left: 3px solid #946FB0; margin: 80px 0 0 0; padding: 0;}

/*.timeline .line {
    width: 3px;
    background: #946FB0;
    margin-left: 6px;
}*/

.timeline .listdays {
    width: 16px;
    margin-left: -9px;
}

.timeline .day {
    display: block;
    position: relative;
    margin-bottom: 45px;
}

.timeline .day.last {
    margin-bottom: 20px;
}

.timeline .marker {
    width: 16px;
    height: 16px;
    background: url(../img/timeline-marker.gif) no-repeat;
    position: absolute;
    top: 25px;
}

.timeline .entry {
    width: 836px;
    padding: 8px 0px;
    margin-top: -28px;
    margin-left: 30px;   
}

a.icon-col, a.icon-col i {line-height: 20px;}

.day-details, .day-booking-count {display: inline-block; vertical-align: middle;}
.day-details .date {color: #946FB0; font-size: 50px; line-height: 50px; display: inline-block;}
.day-details .name-month-year {height: 50px; display: inline-block;}
.day-details .name {font-size: 20px; line-height: 22px;}
.day-details .month-year {color: #777b8a; font-size: 16px;}

.day-booking-count {margin-left: 10px; padding-left: 7px; background: url(../img/booking-count-arrow.png) no-repeat; background-position: left center;}
.booking-count {background: #bdbdc5; border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;padding: 10px 14px; text-transform: uppercase; font-family: 'Dosis', Helvetica, Arial, sans-serif; font-weight: 600;}

.toggle-day-accordion {float:right; margin-top: 17px;}

.toggle-day-accordion a {border-bottom: 1px solid #CBB7DA;}
.toggle-day-accordion a:hover {border-bottom: 1px solid #946FB0;}

.timeline .entry .accordion {
    margin: 0;
}

.timeline .entry .accordion dt {
    width: 820px;
    background: #FFF;
    padding: 5px 8px;
    margin: 0 0 1px 0;
}

/*.timeline .entry .accordion dt:hover {background: #E8E1EE}*/

.booking-list-title {
    background: #565c71;
    text-transform: uppercase; 
    font-family: 'Dosis', Helvetica, Arial, sans-serif; 
    font-weight: 600;
    color: #BDBDC5;
    padding: 5px 8px;
    margin: 0 0 1px 0;
}

a.icon-col {display:table-cell;vertical-align: middle; padding-right: 8px;}
.entry span {display: inline-block; text-align: left;}
.entry span.first-col   {width:294px; padding-right: 5px; display:table-cell; vertical-align: middle;}
.entry .booking-list-title span.first-col  {width: 313px;}
.entry span.second-col  {width:100px; padding-right: 5px; display:table-cell; vertical-align: middle;}
.entry span.third-col   {width:100px; padding-right: 5px; display:table-cell; vertical-align: middle;}
.entry span.fourth-col   {width:152px; padding-right: 5px; display:table-cell; vertical-align: middle;}
.entry span.fifth-col  {width:70px; padding-right: 5px; display:table-cell; vertical-align: middle; text-align: center;}
.entry span.sixth-col   {width:60px; text-align: right; display:table-cell; vertical-align: middle;}
.entry .booking-list-title span.sixth-col  {font-style: normal;}
.entry span.first-col a:hover {text-decoration: underline;}

.timeline .entry .accordion dt.not-approved {background: #e9e9eb;}

.booking-more-detail {border-left: 4px solid #565c71; background: #FFF; margin-left: 28px;}
.table-view-one, .table-view-two {width:803px; text-align: left;}
.table-view-one tr, .table-view-two tr {border-bottom: 1px solid #FFF;}
.table-view-one td, .table-view-two td {padding: 4px 6px;}
.table-view-one td.info, .table-view-two tbody tr td {background: #e8e1ee;}
.info .grey-text {font-style: italic;}

.booking-more-detail .table-view-one td.labeltitle, .booking-more-detail .table-view-two thead th {
    background: #c0aecf; 
    text-transform: uppercase; 
    font-family: 'Dosis', Helvetica, Arial, sans-serif; 
    font-weight: 600;
    padding: 4px 6px;
}

.booking-more-detail .table-view-one td.labeltitle{
    border-right: 1px solid #FFF;
    vertical-align: top;
}

.time-period-selection {float:left;}
.time-period-selection a.sub-tab-middle:hover, .time-period-selection a.sub-tab-right:hover, .time-period-selection a.sub-tab-left:hover {background: #FFF; color: #946FB0;}

.date-field {line-height: 44px; float:right;}
.date-field input, .section-bookings .date-field input[type="text"] {width: 100px; margin-left: 5px;}
.date-field input {border-color: #BDBDC5;}
.section-bookings .date-field input[type="text"]:focus {border-color: #946FB0;}

table.total-hours {text-align: right; width: 287px; float: right; margin-top: 15px;}
table.total-hours .text-left {text-align: left;}
table.total-hours tr {border-bottom: 1px solid #dadadc; height: 35px;}
table.total-hours tr.totalsum {border-bottom: 0px; font-weight: 600;}

.coursehours-key, .eventhours-key, .meetinghours-key, .clinicalhours-key {
    border-radius: 2px;
    -moz-border-radius: 2px;    
    -webkit-border-radius: 2px;
    height: 20px;
    width: 20px;
}

.coursehours-key {background-color: #946fb0;}
.eventhours-key {background-color: #565c71;}
.meetinghours-key {background-color: #564267;}
.clinicalhours-key {background-color: #282c36;}

.two-thirds-col-one {width: 247px; float: left;}
.two-thirds-col-two {width: 287px; float: left;}

.data-column {float:left; text-align: center;}
.section-bookings .one-third-column .data-column {width: 112px; margin-top: 20px;}
.section-bookings .data-number {color: #946FB0;}

.data-number {font-weight: 600; font-size: 36px; line-height: 36px}

.data-label {
    text-transform: uppercase;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/* Errors */
.section-bookings .alert-error-form {margin-left: 125px;}