/* Buttons
================================================== */

.button, .button-red, .button-green, .button-default, .button-lightgrey, .button-faux, .button-default-faux, .button-lightgrey-faux, .button-green-faux, .button-red-faux, .button-text {
  display: inline-block;
  border: 0 !important;
  border-radius: 4px;
  outline: 0;
  color: white;
  white-space: nowrap;
  padding: 10px 15px;
  position: relative;
  text-decoration: none;
  /*line-height: 18px;*/
  line-height: 20px;     /*To match loading gif height*/
  vertical-align: top;
}

.button-faux, .button-default-faux, .button-lightgrey-faux, .button-green-faux, .button-red-faux {padding: 10px 16px;}

.button-text:hover {text-decoration: underline;}
.button i {line-height: 18px;}

a.button, a.button-red, a.button-green, a.button-default {color: white !important;}
.button:active, .button-red:active, .button-green:active, .button-default:active, .button-lightgrey:active {top: 3px;}

.button-faux, .button-default-faux, .button-lightgrey-faux, .button-green-faux, .button-red-faux {cursor: default;}

/* Red Button */
.button-red, .button-red-faux {background: #A72F2F; box-shadow: 0px 1px 0px #70171b, 0px 2px 0px #70171b, 0px 3px 0px #70171b, 0px 4px 0px #70171b, 0px 5px 0px #70171b;}
.button-red:hover, .button-red:focus {background: #932929;}
.button-red:active {box-shadow: 0px 1px 0px #70171b,0px 2px 0px #70171b;}

/* Green Button */
.button-green, .button-green-faux {background: #32ab2c; box-shadow: 0px 1px 0px #257a1d, 0px 2px 0px #257a1d, 0px 3px 0px #257a1d, 0px 4px 0px #257a1d, 0px 5px 0px #257a1d;}
.button-green:hover, .button-green:focus {background: #2b9426;}
.button-green:active {box-shadow: 0px 1px 0px #257a1d,0px 2px 0px #257a1d;}

/* Default Button */
.button-default, .button-default-faux {background: #565c71; box-shadow: 0px 1px 0px #292c36, 0px 2px 0px #292c36, 0px 3px 0px #292c36, 0px 4px 0px #292c36, 0px 5px 0px #292c36; margin-bottom: 5px;}
.button-default:hover, .button-default:focus {background: #494e60;}
.button-default:active {box-shadow: 0px 1px 0px #292c36,0px 2px 0px #292c36;}

/* Light Grey Button */
.button-lightgrey, .button-lightgrey-faux {background: #d9d9d9; box-shadow: 0px 1px 0px #a1a1a1, 0px 2px 0px #a1a1a1, 0px 3px 0px #a1a1a1, 0px 4px 0px #a1a1a1, 0px 5px 0px #a1a1a1;}
a.button-lightgrey, a.button-lightgrey-faux {color:#828282;}
.button-lightgrey:hover, .button-lightgrey:focus, a.button-lightgrey:hover, a.button-lightgrey-faux:hover {background: #c2c2c2; color: #676767;}
.button-lightgrey:active {box-shadow: 0px 1px 0px #a1a1a1,0px 2px 0px #a1a1a1;}

/*.right a {margin: 0 0 5px 10px;}*/
#pagination .right a, #numberOnly .right a {margin:0 20px 0 0;}
#pagination .right {text-align: right; margin-right:10px;}

/* Specified width */
.half-width-btn a.button-red, .half-width-btn a.button-red-faux {width: 33.4%; margin:0 0 0 10px; text-align: center;}
.half-width-btn a.button-green, .half-width-btn a.button-green-faux {width: 33.4%; text-align: center;}
.half-width-btn a.button-default, .half-width-btn a.button-default-faux {width: 33.4%; text-align: center;}

.full-width-btn a.button, 
.full-width-btn a.button-default,
.full-width-btn a.button-lightgrey, 
.full-width-btn a.button-red, 
.full-width-btn a.button-green, 
.full-width-btn a.button-faux,
.full-width-btn a.button-default-faux,
.full-width-btn a.button-lightgrey-faux,  
.full-width-btn a.button-red-faux, 
.full-width-btn a.button-green-faux {width: 234px; text-align: center; margin: 15px 0 0 0;}

/* Smaller height/width */
.course-registrations .button-red, .course-registrations .button-green, .course-registrations .button-default, .course-registrations .button, #courseRegistration .data-heading-row-pagination .button-default, .course-payments .button-red, .course-payments .button-green, .course-payments .button-default, .course-payments .button,
.automated-emails .button-red, .automated-emails .button-green, .automated-emails .button-default, .automated-emails .button, .section-resources .search-results .button, .account-notes .button, .account-notes .button-default {padding: 8px 13px 7px 13px; border-bottom: 0px;}

#courseRegistration .data-heading-row-pagination .button-default {margin-top: 1px;}

/* Alt button */
.button-alt, .button-alt-red {
    overflow: auto;
    text-decoration: none;
    padding: 2px 3px;
    margin-top: 5px;
    display: inline-block;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
