/*
* Clinical Skills Development Service - Central
*/

/*! normalize.css v1.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    margin:0;height:100%;
}

/**
 * Address `font-family` inconsistency between `textarea` and other form
 * elements.
 */

html,
button,
input,
select,
textarea {
    font-family: sans-serif;
    font-size: 62.5%;
    color: #292c36;
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */

body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px; font-size: 1.4rem;
    line-height: 14px; line-height: 1.5em;
    background: rgb(13, 15, 18);
    height: 100%;
}

::-webkit-input-placeholder {
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-style: italic;
}

:-moz-placeholder { /* Firefox 18- */
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-style: italic;  
}

::-moz-placeholder {  /* Firefox 19+ */
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-style: italic;  
}

:-ms-input-placeholder {  
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
   font-style: italic;  
}

img {vertical-align: middle;}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {resize: vertical;}

header {
    color: #FFF;
    width: 1105px;
    margin: 0 auto;
    position: relative;
    background-color: #0D0F12;
    height: 55px;
}

input[readonly] {
    cursor: pointer;
}

area {
  display: block;
  cursor: pointer;
}


/* ==========================================================================
   Lists
   ========================================================================== */

/**
 * Address margins set differently in IE 6/7.
 */

dl,
menu,
ol,
ul {
    margin: 1em 0;
}

dd {
    margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */

menu,
ol,
ul {
    padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */

nav ul,
nav ol {
    list-style: none;
    list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}



/* Tables
================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 1px;
}

table.history-table {
    width: 100%;
    margin-bottom: 15px;
}

table.history-table th, table.history-table td {
    padding: 5px 8px;
    text-align: left;
}






/* Content and general non-specifics
================================================== */

::-moz-selection {
    background: #DADADC;
    text-shadow: none;
}

::selection {
    background: #DADADC;
    text-shadow: none;
}

.opaque {opacity: 0.6; cursor: default;}

.non-active {cursor: default;}
.non-active i {opacity: 0.3;}

header .logo {
    font-family: 'ff-meta-web-pro', Arial, sans-serif;
    font-size: 34px; font-size: 3.4rem;  /* =34px */
    font-weight: bold;
    line-height: 15px; line-height: 1.5em;
    padding: 0 0 0.1em 0;
    -webkit-font-smoothing: antialiased;
    background-color: #0D0F12;
    width: 400px;
    float: left;
}

header .logo a {
    text-decoration: none;
    color: #FFF;
}

header .link a {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px; font-size: 1.8rem;   
    height: 55px;
    line-height: 30px; line-height: 3em;
    -webkit-font-smoothing: antialiased;
    background-color: #1a1c22;
    width: auto;
    padding: 0 20px;
    float: right;
    text-decoration: none;
    color: #FFF;
}

header .user {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px; font-size: 1.6rem;   
    height: 55px;
    line-height: 32px; line-height: 3.2em;
    -webkit-font-smoothing: antialiased;
    background-color: #22242c;
    width: auto;
    padding: 0 20px;
    float: right;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}


header .user i {color: #B1B1B9; padding: 0 0 0 4px;}
header .user:hover i, header .link:hover i {color: #FFF;}

header .link a i {font-size: 22px; color: #B1B1B9;}

header .logo a:hover span {text-shadow: 0 0 7px #FFF;}

.meta-normal {font-weight: normal;}

.body-wrap {
    width: 1105px;
    position: relative;
    margin: 0 auto;
    background: url(../img/body-wrap-background.jpg) repeat-y;
    height: 100%;
}

.page-wrap {
    width: 1105px;
    position: relative;
    margin: 0 auto;
    background: url(../img/body-wrap-background.jpg) repeat-y;
}

.content-wrap {
    width: 900px;
    float: left;
    background-color: #dadadc;
}

footer {
    width: 1105px;
    margin: 0 auto;
    position: relative;
}

.hide {position: absolute; top: -9999px; left: -9999px;}

.right {float: right !important;}
p.right {padding: 0 8px 0 5px;}

.right-buttons {float: right; margin-top: 15px;}

.left {float: left;}

.inline-sentence {float:left; line-height: 40px; margin: 0 20px;}

span.modify, div.modify, dt span.modify {visibility: hidden; padding: 0 !important;}
.data-single-row:hover span.modify, .data-single-row:hover div.modify, dt:hover span.modify, .faculty-list div.modify {visibility: visible;}

/* Data Rows */

.data-rows {vertical-align: middle;}
.data-rows .data-heading-row {height: 35px;}
.data-rows .data-heading-row-pagination {height: 50px;}
.data-single-row {margin-bottom: 1px; background-color: white;}
.section-centres .data-single-row, .section-bookings .data-single-row {margin-bottom: 0px;}
.course-payments .data-single-row, .automated-emails .data-single-row {padding: 0 10px;}
.search-results .data-single-row {cursor: pointer;}
.data-single-row span, .data-head span{ display: table-cell; word-wrap: break-word; vertical-align: middle;}
.data-rows .data-heading-row h1, .data-rows .data-heading-row p, .data-rows .data-heading-row i {
    display: inline-block;
}

.data-rows .data-heading-row-pagination h1, .data-rows .data-heading-row-pagination p, span#pagination a.right {
    display: inline-block;
    line-height: 40px;
}

p.right a#downloadLink {margin-right: 10px;}

.data-rows .data-heading-row h1, .data-rows .data-heading-row-pagination h1 {
    float: left;
    margin: 0;
}

.data-rows .data-heading-row-pagination h1, .data-rows .data-heading-row-pagination .button {
    margin-right: 10px;
}

a.pagination-nav-previous, a.pagination-nav-next {
    background: #BDBDC5;
    border: 1px solid #dadadc !important;
    margin: 0;
    float: right;
    padding: 0px 15px;
    color: #292c36 !important;
    line-height: 40px;
}

a.pagination-nav-previous:hover, a.pagination-nav-next:hover {
    background: #b1b1b9;
}

a.pagination-nav-previous.non-active:hover, a.pagination-nav-next.non-active:hover {
    background: #BDBDC5;
}

a.pagination-nav-previous {
    -moz-border-radius:4px 0px 0px 4px;
    -webkit-border-radius:4px 0px 0px 4px;
    border-radius:4px 0px 0px 4px;
}

a.pagination-nav-next {
    -moz-border-radius:0px 4px 4px 0px;
    -webkit-border-radius:0px 4px 4px 0px;
    border-radius:0px 4px 4px 0px;
}

a.sub-tab-right, a.sub-tab-right-active {
    margin-right: 10px;
    margin-top: -3px;
}

a.sub-tab-left, a.sub-tab-left-active {
    -moz-border-radius:4px 0px 0px 4px;
    -webkit-border-radius:4px 0px 0px 4px;
    border-radius:4px 0px 0px 4px;
    margin-top: -3px;
}

a.sub-tab-right, a.sub-tab-right-active {
    -moz-border-radius:0px 4px 4px 0px;
    -webkit-border-radius:0px 4px 4px 0px;
    border-radius:0px 4px 4px 0px;
}

span.account-activated-col i {vertical-align: middle;}

/* Columns */

.one-third-column, .two-thirds-column {float: left;}
.one-third-column {width: 265px; margin: 0 0 20px 0;}
.two-thirds-column {width: 574px; margin: 0 20px 20px 0;}

/* Icons */

i.icon-ok-circle {
    color: #33A335;
}

i.icon-remove-circle {
    color: #a72f2f;
}

/* Data Containers */

.data-solid, .data-solid-alt, .data-solid-halfwidth, .data-solid-green, .data-solid-yellow, .data-solid-red, .data-solid-default-link {
    background: #bdbdc5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 11px;
    outline: none;
    margin: 0;
    max-width: 100%;
    display: block;
}

.data-solid-green {background: #EBF8E5; color: #33A335;}
.data-solid-yellow {background: #F5ECD9; color: #BD8100;}
.data-solid-red {background-color: #FAE9E9; color: #B94A48;}

.one-third-column .data-solid-green,
.one-third-column .data-solid-yellow,
.data-solid-red {margin-bottom: 15px;}

.data-solid-halfwidth {
    background: #bdbdc5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 11px;
    outline: none;
    margin: 0;
    width: 260px;
    display: inline-block;
}

.data-solid-highlight, .data-solid-highlight-alt, .data-solid-highlight-solid {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 14px;
    outline: none;
    display: block;
}

.data-solid-nopadding, .data-solid-nopadding-full {
    background: #bdbdc5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0px;
    outline: none;
    margin: 0;
    max-width: 100%;
    display: block;
}

/*.section-accounts .data-solid-highlight {
    margin: 5px 0 10px 0;
}

.section-bookings .data-solid-highlight {
    display: inline-block;
}

.data-solid-highdark {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 13px 14px;
    outline: none;
    margin: 0;
    display: inline-block;
}
*/
.course-registrations .data-solid {margin-top: 20px;}

/*.overlay .data-solid {margin: 5px 0 10px 0;}*/

.data-border {
    background: none;
    border: 2px solid #bdbdc5;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px 14px;
    outline: none;
    margin: 0;
    max-width: 100%;
    display: block;
}

.data-container {
    background: white;
    border-bottom: 2px solid #bdbdc5;
    max-width: 100%;
    display: block;
}

.data-head {
    background: #ededee;
    border-bottom: 1px solid #DADADC;
    max-width: 100%;
    display: block;
    font-weight: 600;
    color: #565c71;
    padding: 5px 10px;
    zoom: 1;
    clear: both;
}

.padding .data-container {
    padding: 20px;
    margin: 15px 0;
}

.padding-nomargin .data-container {
    padding: 20px;
}

.data-heading-row .padding {
    margin: 15px 0;
}

.no-padding .data-container {
    padding: 0px;
    margin: 0px;
}

/* Alerts
================================================== */

.alert-success {
    color: #33a335;
    background-color: #EBF8E5;
    padding: 12px 14px 0 14px;
    margin-bottom: 15px;
    display: block;
}
    
    .alert-success h2 {color: #33a335;}
    .alert-success a {color: #33a335; border-bottom: 1px solid #b9d5ba;}
    .alert-success a:hover {border-bottom: 1px solid #33a335;}
    .data-solid .alert-success {margin-bottom: 0px;}

.alert-warning {
    color: #BD8100;
    background-color: #FFF3DA;
    padding: 12px 14px 0 14px;
    margin-bottom: 15px;
    display: block;
}

    .alert-warning h1 {color: #BD8100;}
    .alert-warning a {color: #BD8100 !important; border-bottom: 1px solid #DCC69F;}
    .alert-warning a:hover {border-bottom: 1px solid #BD8100;}


.alert-error {
    color: #B94A48;
    background-color: #FAE9E9;
    padding: 12px 14px 0 14px;
    margin-bottom: 15px;
    display: block;
}

    .alert-error h1, .alert-error h3 {color: #b93432;}
    .alert-error a {color: #b93432; border-bottom: 1px solid #b93432;}
    .alert-error a:hover {border-bottom: 1px solid #b93432;}

    .alert-error-form {
        color: #FFF;
        display: inline-block;
        background-color: #B94A48;
        padding: 2px 6px;
        margin-bottom: 4px;
    }

.alert-success p, .alert-warning p, .alert-error p {padding-bottom: 12px;}

.data-container .alert-warning {margin: 15px 0 0 0;}

.alert-noresults {
    text-align: center;
    margin: 30px 10px ;
}

.alert-noresults h2 {color: #565C71;}
.alert-noresults p {color: #9C9CAA;}
.alert-noresults a {color: #9C9CAA; text-decoration: none; border-bottom: 1px solid #9C9CAA;}
.alert-noresults a:hover {color: #565C71; border-bottom: 1px solid #565C71;}

.alert-success, .alert-warning, .alert-error {zoom: 1; clear: both;}
.alert-success ul, .alert-warning ul, .alert-error ul {padding: 0 0 12px 25px; margin:0;}

/* Overlays
================================================== */

.overlay {width: 574px;}

.overlay a {outline: 0 !important;}

.overlay-header {padding: 15px 20px 30px 20px;}
   
.overlay-header h1 {color: #ffffff; text-align: center;}
.overlay-header h2 {text-align: center; margin: 0; }

.overlay-close {text-align: right; height: 20px;}

.delete-icon {cursor: pointer;}

.overlay-content {padding: 20px; background: #ffffff;}

.overlay-content .one-fourth-col {width: 25%; float: left;}
.overlay-content .three-fourths-col {width: 75%; float: left;}
.overlay-content .fourth-col {width: 100%; float: left; text-align: right;}

.overlay .data-area .data-group-right-fullwidth label {display: block; cursor: pointer;}

.overlay .data-group-two-col span.data-solid {width: 244px; float: left; margin-bottom:2px;}
.overlay .data-group-two-col span.data-solid:nth-child(odd) {margin-right:2px;}

.overlay .data-group-three-col span.data-solid {width: 154px; float: left; margin: 0 1px 2px 1px;}
.overlay .data-area .data-group-two-col label, .overlay .data-area .data-group-three-col label {float: none; display: block;}

.overlay .data-group-right span.data-solid, .data-container .data-group-right span.data-solid {width:180px; float:left; margin-bottom:6px;}
.overlay .data-group-right-fullwidth span.data-solid {margin-bottom:1px;}


/* Media queries
================================================== */

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

/* Helper classes
================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Pretty Checkboxes
================================================== */

label.checkbox span.holder {
  height: 93px; /* Total height of your checkbox image */
  background: url(../img/checkbox.gif) 0 -1px no-repeat; /* Path to your checkbox image */
  }

/*label.radio span.holder {
height: 61px;  Total height of your radio buttons image
background: url(../img/checkbox.gif) 0 -1px no-repeat;  Path to your radio button image
}*/

label.checkbox:hover span.holder,
label.radio:hover span.holder { top: -31px !important; } /* Background position on mouseover */

label.checked span.holder,
label.checked span.holder,
label.checked:hover span.holder,
label.checked:hover span.holder { top: -62px !important; } /* Background position when checked */

input[disabled='disabled'] {
  background: #EEEEEE;
  }

.disabled{
  background: #EEEEEE;
  }

label.list {
  margin: 0;
  font-weight: normal !important;
  }

label.inline {
  float: left; margin: 0;
  }

input.hiddenCheckbox {
  position: absolute; left: -10000px; /* Hide the input */
  }

label.prettyCheckbox span.holderWrap {
  display: block; 
  position: relative;
  overflow: hidden;
  width: 31px;
  height: 31px;
  margin: 0px;
  cursor: pointer;
  }

/*label.tick.prettyCheckbox span.holderWrap {
  margin: -5px 5px 0 -5px;
  }
*/

 label.prettyCheckbox span.checkbox-option {
  line-height: 20px;
  cursor: pointer;
  }

label.prettyCheckbox span.holder {
  display: block;
  position: absolute;
  top: 0; 
  left: 0;
  width: 31px;
  }

label.yesno .prettyCheckbox span.holderWrap {
  display: block; 
  float: left;
  position: relative;
  overflow: hidden;
  width: 94px;
  height: 33px;
  margin: -3px 0 0 10px;
  }

 label.yesno .prettyCheckbox span.checkbox-option {
  line-height: 16px;
  }

label.yesno .prettyCheckbox span.holder {
  display: block;
  position: absolute;
  top: 0; 
  left: 0;
  width: 94px;
  }

/* Loading GIF
================================================== */

.loadingGif {
    /*margin: 10px auto;*/
    width: 25px;
    height: 22px;
}

.data-heading-row-pagination span.loadingGif img {margin: 10px 0 0 0;}

#courseRegistration .loadingGif { display: none; }
#searchResults .loadingGif { display: none; }


/* Loading bar
================================================== */

#loadingbar-frame {
    background: #08EBFF;
}
 
#loadingbar {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 1%;
    height: 2px;
    background: #b91f1f;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

#loadingbar.waiting dd, #loadingbar.waiting dt {
    -moz-animation: pulse 2s ease-out 0s infinite;
    -ms-animation: pulse 2s ease-out 0s infinite;
    -o-animation: pulse 2s ease-out 0s infinite;
    -webkit-animation: pulse 2s ease-out 0s infinite;
    animation: pulse 2s ease-out 0s infinite;
}

#loadingbar dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px,90px,14px,-6px);
}

#loadingbar dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px,22px,14px,10px);
}

#loadingbar dd, #loadingbar dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #BBFAFF 1px 0 6px 1px;
    -ms-box-shadow: #BBFAFF 1px 0 6px 1px;
    -webkit-box-shadow: #BBFAFF 1px 0 6px 1px;
    box-shadow: #BBFAFF 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

.loadingGifBlue {
  display: none;
  clear: none;
  width: 25px;
  height: 17px;
  background-position:  center center;
  background-repeat: no-repeat;
  opacity: 1;
  float: right;
}

.loadingGifBlue {
  background-image: url('../../images/fancybox-loader-blue.gif');
  margin: 4px 10px 0 0;
}

@keyframes pulse {
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-moz-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-ms-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

@-webkit-keyframes pulse 
{
  30% { opacity:0.6; }
  60% { opacity:0; }
  100% { opacity:0.6; }
}

/* Print styes
================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}





/* Shared
================================================== */

/* Page Tabs */
#tab-nav .tabs li a {background: #292c36; color: #a6a7aa;}

.filter-dropdown i, .filter-toggle i {float:right; line-height: 20px; display: inline-block;}

.filter-toggle-heading {
    background: #BDBDC5;
    padding: 11px 12px;
    margin: 0;
    list-style: none;
    cursor: pointer;
}

.filter-toggle-options {
    background: #ededf5;
    padding: 11px 12px 9px 12px;
    margin: 0;
}

.filter-toggle-options a {color: #292C36;}

.filter-toggle-options ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-toggle-heading i {opacity: 0.4;}
.filter-toggle-heading:hover i {opacity: 1;}

.filter-toggle-options ul li {opacity: 0.6;}
.filter-toggle-options ul li:hover {opacity: 1; cursor: pointer;}

.filter-applied {color: #D84059; margin: 2px 0 0 10px; font-style: italic;}
.filter-applied .right a {color: #292C36; opacity: 0.6; font-size: 12px; font-style: normal;}
.filter-applied a:hover {color: #292C36; opacity: 1; text-decoration: underline;}

/* Comments 
.existingComments {margin-top: 10px;}*/

/* Tags */
ul.tag-list li {margin-bottom: 1px;}
ul.tag-list li span {display:inline-block; padding: 10px; display: table-cell; vertical-align: top;}

/*.filter-toggle div.filter-options {display:none;}*/

.data-area p {margin-bottom: 20px; display: block;}
.data-area label {font-weight: 600; margin: 0;}
.data-area p label {width: 121px; display: inline-block;}
.data-area p input[type=text] {width: 124px;display: inline-block; margin-bottom: 0 !important; height: 16px;}
.data-area p.timepicker-row label {width: 124px;}
.data-area p span.full-width input[type=text], .data-area p span.full-width textarea {width: 381px; margin: 0;}
.data-area p label.auto-width {width: auto; padding-right: 5px;}
.data-area p label .label-icon {float: right;}
.data-area p span.full-width select {width: 409px;}

.data-area-alt label {font-weight: 600; padding-right: 5px;}

.data-area p span.half-width input, 
.data-area p span.half-width select, 
.data-container .data-area p span.half-width .data-solid {width: 167px; margin: 0;}

.data-container .add .data-solid input, .data-container .add .data-solid select {width:352px; background: #ffffff; margin-bottom: 10px;}
.data-container .add .data-solid select {width:380px;}

/*.section-bookings input[type=text] {width: 506px; margin: 0; display: inline-block;}*/

.section-bookings input[type=text] {width: 477px; margin: 0; display: inline-block;}
.section-bookings form textarea, .section-courses form textarea, .section-courses .padding textarea, .section-centres .padding textarea {width: 506px; margin: 15px 0; display: inline-block;}

.small-margin, p.small-margin, .tick-or-add h2 .small-margin {margin-bottom: 5px;}

.section-bookings form .search-filter-right span.holder,
.section-courses form .search-filter-right span.holder, 
.section-courses .one-third-column .data-solid span.holder {margin: -5px 5px 0 -5px;}

.section-resources .sentence-break {color: #e37184;}
.section-centres .sentence-break {color: #6F8CC3;}

#sticky-nav li.active a {color:#FFF;}

/* Data - Multiple column */

.data-area .data-group-one-col {margin-bottom: 10px;}
.data-area .data-group-one-col .data-solid {margin-bottom: 2px !important; width: 512px !important;}
.data-area .data-group-one-col label {font-weight: normal; cursor: pointer; display: block; padding-left: 25px; text-indent: -23px;}
.data-area .data-group-one-col input {padding: 0; margin:0 10px 0 0; vertical-align: middle; position: relative; *overflow: hidden;} 

.data-area .data-group-two-col label {font-weight: normal; float: right; width: 215px;}
.data-area .data-group-three-col label {font-weight: normal; float: right; width: 125px;}
.data-area .data-group-right label, .data-area .data-group-right-fullwidth label {font-weight: normal;}

.data-group-right, .data-group-right-fullwidth {display:inline; width: 409px; float: right;}
.overlay .data-group-right span.data-solid, .data-container .data-group-right span.data-solid {width:180px; float:left; margin-bottom:6px;}
.overlay .data-group-right-fullwidth span.data-solid {margin-bottom:1px;}

.data-container .data-group-right span.data-solid-nopadding {width: 202px; float: left; margin-bottom:5px;}
.data-container .data-group-right span.data-solid-nopadding input {float:right; background: #FFF; width: 25px; text-align: center;}
.data-container .data-group-right span.data-solid-nopadding label {margin: 10px 2px 10px 8px; width: 135px;}
/*.data-container .data-group-right span.data-solid-nopadding span {float:right; margin: 10px;}*/
.data-container .data-group-right span.data-solid-nopadding-full {width: 409px; float: left; margin:0 0 5px 0;}
.data-container .data-group-right span.data-solid-nopadding-full input {float:right; background: #FFF; width: 25px; text-align: center;}
.data-container .data-group-right span.data-solid-nopadding-full label {margin: 10px 8px;}
.data-container .data-group-right span.data-solid-nopadding-full span {float:right;}

.data-container .data-group-right span.view-only {float:right; padding: 0 10px;}
.data-container .data-group-right span.data-solid:nth-child(even),
.data-container .data-group-right span.data-solid-nopadding:nth-child(even) {margin-left: 5px;}

#bookingSource,
#bookingType,
#bookingLocation,
#bookingRoom {display:none;}

 .section-bookings .pretend-link {
     color: #946FB0;
 }

 .section-centres .pretend-link {
     color: #355595;
 }

 .section-courses .pretend-link {
     color: #379154;
 }

 .section-accounts .pretend-link {
     color: #00A5B3;
 }
