/* Forms
================================================== */

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
    outline: none;
}

select {
    outline: none;
    cursor: pointer;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
    cursor: pointer;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
    line-height: 1.4em;
}

label {
    
}

.one-third-row {
    margin-top: 15px;
    display: inline-block;
}

.one-third-row img {padding: 9px;}

.one-third-row label {
    float: left;
    width: 66px;
    padding: 10px 10px 0 0;
}

.one-third-row .data-solid {
    width: 167px;
    float: left;
    vertical-align: middle;
}

form .one-third-row .data-solid {
    width: 161px;
}

/* Search form
================================================== */

form#search {margin-bottom: 1.5em;}

form#search input[type="text"], form#invitation input[type="text"] {
    border: none;
    background: #292c36;
    border-radius: 4px;
    padding: 14px;
    outline: none;
    color: #FFF;
    max-width: 100%;
    display: block;
    margin: 0;
}

form#search input[type="text"]:focus {color: #FFF;}

div.search-field, div.search-filter {
    position:relative;
    float:left;
}

form#search div.submit{
    position:relative;
    float:left;
}

form#invitation div.submit a.button {
    width: 75px;
    text-align: center;
}

form#invitation div.submit a.button-faux {
    width: 73px;
    text-align: center;
}

label.overlabel {
    position:absolute;
    top:12px;
    left:14px;
    z-index:1;
    color:#7e7e8f;
    font-style: italic;
    font-size: 16px; font-size: 1.6rem;
    font-weight: 400;
}
 
label.overlabel-apply { 
    position:absolute;
    top:12px;
    left:14px;
    z-index:1;
    color:#7e7e8f;
    font-style: italic;
    font-size: 16px; font-size: 1.6rem;
    font-weight: 400;
}

/*.search-filter ul.filter, .search-filter ul.widget {

}*/




/* All Forms */

form input, form textarea, .ajax-fields input, .ajax-fields textarea, .section-accounts .comments textarea, .section-centres .comments textarea {
    background: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 12px;
    outline: none;
}

form#search input {
    margin: 3px 5px 0 0;
    display: inline-block;
}

#resultNumberOnly {line-height: 40px;}
#downloadLink {margin-right: 10px;}

/*form textarea, .ajax-fields textarea {min-height: 80px;}*/

form select, .ajax-fields select, .one-third-column select {
    background: transparent;
    line-height: 1;
    outline: none;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 11px 12px;
    outline: none;
}

.outline-box {
    border: 1px solid #BDBDC5;
    padding: 4px 6px;
    margin: 5px 10px;
    display: inline-block;
}