/* Navigation
================================================== */

nav { 
    width: 177px;
    background-color: #FFF;
    float: left;
    left:0px;
    bottom:0px;
    padding: 1em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: list-item;
    text-align: -webkit-match-parent;
}

nav ul.first-nav li a {
    display: block;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 22px; font-size: 2.2rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #9fa5bc;
    margin: 0px;
    padding: 15px;
}

nav ul.second-nav li {padding: 6px 0 6px 0;}

nav ul.second-nav li a {
    display: block;
    font-family: 'Dosis', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 19px; font-size: 1.9rem;
    text-decoration: none;
    color: #9fa5bc;
    margin: 0px;
    padding: 4px 0 4px 11px;
    border-left: 5px solid #FFFFFF;
}

.notification {
    background: #565c71;
    color: #dddee1;
    padding: 1px 6px;
    border-radius: 2px;
    float: right;
    display: inline-block;
    font: 0.7em 'Open Sans', Helvetica, Arial, sans-serif;
}

nav ul.second-nav {border-top: 1px solid #e8e8ea; margin-top: 15px; padding-top: 15px;}
nav ul li.active a, nav ul li.active a:hover, nav ul li.active a:visited {color: #FFF;}
nav ul.first-nav a:hover, nav ul.second-nav a:hover, nav ul.second-nav li.active a {color: #565C71;}

nav ul.second-nav li.active a {border-left: 5px solid #565C71;}

nav ul li.active a.dashboard {background-color: #e27335;}
nav ul li.active a.accounts {background-color: #39b4bf;}
nav ul li.active a.bookings {background-color: #946fb0;}
nav ul li.active a.courses {background-color: #379154;}
nav ul li.active a.resources {background-color: #e6425a;}
nav ul li.active a.centres {background-color: #355595;}

nav ul li a.dashboard:hover {background-color: #e27335; color: #FFFFFF;}
nav ul li a.accounts:hover {background-color: #39b4bf; color: #FFFFFF;}
nav ul li a.bookings:hover {background-color: #946fb0; color: #FFFFFF;}
nav ul li a.courses:hover {background-color: #379154; color: #FFFFFF;}
nav ul li a.resources:hover {background-color: #e6425a; color: #FFFFFF;}
nav ul li a.centres:hover {background-color: #355595; color: #FFFFFF;}