/* Typography
================================================== */

/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */

h1 {
    font-size: 1.8333em; /* 22px */
    margin: 0 0 0.5em 0;
    font-weight: 500;
    line-height: 1.2em;
}

h2 {
    font-size: 1.5em; /* 18px */
    margin: 0 0 20px 0;
    font-weight: 400;
    line-height: 1em;
}

h3 {
    font-size: 1.3333em; /* 16px */
    margin: 0 0 1em 0;
    font-weight: 400;
    line-height: 1.25em;
}

h4 {
    font-size: 1.1667em; /* 14px */
    margin: 0 0 1.33em 0;
    font-weight: 400;
    line-height: 1.5em;
}


h1, h2, h3, h4  {
    font-family: 'Dosis', Helvetica, Arial, sans-serif; 
    color: #292c36;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */

b,
strong {
    font-weight: 600;
}

blockquote {
    margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */

hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */

mark {
    background: #ff0;
    color: #000;
}

/**
 * Address margins set differently in IE 6/7.
 */

pre {
    margin: 1em 0;
}

p {margin: 0;}


/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */

q {
    quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */

q:before,
q:after {
    content: '';
    content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

i {font-size: 1.4rem}

.green-text {color: #33A335;}
.red-text {color: #B33;}
.yellow-text {color: #BD8100;}
.blue-text {color: #377ABF;}
.orange-text {color: #F05722;}
.purple-text {color: #6F468E;}
.grey-text {color: #95959a;}
.lightdefault-text {color: #72737B;}

.instructional-text {font-style: italic; color: #818181;}
.cancelled .data-single-row, .cancelled .data-single-row-link, .attendance-marked .data-single-row {opacity:0.65;}
.normal {font-weight: normal;}
.sentence-break {white-space: pre;}

.top-margin {margin-top: 10px !important; vertical-align: top;}
.bottom-margin {margin-bottom: 5px;}
.no-margin {margin: 0 !important;}

.text-right {text-align: right;}
.text-centered {text-align: center;}

.data-container h2 {margin-bottom: 10px;}
.data-area {margin-top: 20px;}
.overlay-content .data-area {margin-top: 0px;}

::-webkit-input-placeholder {line-height: 16px;}
:-moz-placeholder {line-height: 16px;}
::-moz-placeholder { line-height: 16px;}
:-ms-input-placeholder {line-height: 16px;}


/* Links */

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}


a {cursor: pointer;}

/* Font Awesome */

$fontawesome-directory: '../../';